.pokemon-card {
	color: #000;
	display: flex;
	width: 15rem;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #e4e4e4;
	padding: 10pt;
	margin: 20px;
}